[Unit]
Description=Noctalia shell (patched)
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.local/bin/noctalia-shell-patched
Environment=XDG_DATA_DIRS=%h/.local/share:/usr/local/share:/usr/share
Environment=XDG_ICON_THEME=Papirus-Dark
Environment=ICON_THEME=Papirus-Dark
Restart=on-failure
RestartSec=3
TimeoutStopSec=10

[Install]
WantedBy=graphical-session.target
